@import url('http://fonts.cdnfonts.com/css/univers-next-pro');


:root {
    --brown:#856050;
    --background: #F2F2F0; 
    --black:var(--black); 
  }
  

main {
  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0,1fr 0,1fr;
        grid-auto-columns: 1fr;
        gap: 3% 0%;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
          margin-left: 10vw;

      }
      
  
body{
    background-color: var(--background)
    ;
}

*{
    box-sizing:border-box;

}

.wrapper{

display: flex;
flex-direction:row;
margin-top: 2vw;
font-family: 'Univers Next Pro', sans-serif;
color: var(--brown)
;
text-decoration: none;
list-style: none;
align-items:flex-start;


}

li a{

    list-style-type: none;
    font-family: 'Univers Next Pro', sans-serif;
    color: var(--brown)
;
text-decoration: none;
list-style: none;
align-items:flex-start;

margin: 3vw;
font-size: 1.1vw;
margin-top: 2vw;



}

.container .sous-title{
    display: grid;
grid-template-columns: auto auto auto auto;
}

.logo  {
    font-size: 3vw;
    font-family: 'Univers Next Pro', sans-serif;
    margin-right: 7vw;
    text-decoration: none;
    list-style-type: none;
    color: var(--black);
text-underline-offset: none;
margin-top: -4vw;
margin-left: 3.3vw;

}


.container {  display: grid;
    grid-template-columns: 0.8fr 0.9fr 1.3fr;
    grid-template-rows: 0.4fr 1.5fr 1.5fr 1.5fr;
    grid-auto-columns: 1fr;
    gap: 0% 0%;
    grid-auto-flow: row;
  }
  
  .picture { grid-area: 2 / 1 / 5 / 3; 
    display: grid;
margin-left: 4vw;}
  
  .description { grid-area: 2 / 3 / 5 / 4; }
  
  .pic1 { grid-area: 2 / 1 / 3 / 2; }
  
  .pic2 { grid-area: 3 / 1 / 4 / 2; }
  
  .pic3 { grid-area: 4 / 1 / 5 / 2; }
  
  .pic4 { grid-area: 2 / 2 / 5 / 3;
margin-left: -1vw; }
  
  .description1 { grid-area: 2 / 3 / 3 / 4;

    font-family: 'Univers Next Pro', sans-serif;
    color: var(--black)  ;  
}

  
  .description2 { grid-area: 3/ 3 / 4 / 4; 
    margin-top: -10vw;

    font-family: 'Univers Next Pro', sans-serif;
    color: var(--black)  ;  
font-weight: lighter;
font-size: 1.3vw;


}
  
  .description3 { grid-area: 4 / 3 / 5 / 4;

    font-family: 'Univers Next Pro', sans-serif;
    color: var(--black)  ;  
font-weight: bold;
font-size: 1.3vw;
margin-top: -10vw;}



  
  .topnavbar { grid-area: 1 / 1 / 2 / 4; 
    list-style-type: none;
    font-family: 'Univers Next Pro', sans-serif;
    color: var(--brown)
;
text-decoration: none;
list-style: none;
margin-top: 7vw;


display: flex;
flex-direction: row;
flex-wrap: wrap;

}
  .topnavbar ol {
    display: flex;
    flex-direction: column;
    align-items:flex-start;


    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-left: 2vw;

    align-items:flex-start;
    flex-direction: row;
flex-wrap: wrap;

  }

.topnavbar li {
    margin-left: 2.2vw;
    list-style-type: none;
    font-family: 'Univers Next Pro', sans-serif;
    color: var(--brown);
    margin-bottom:1.6vw

}

.description .price{
    margin-left: 3vw;
}

.description3 .button{
    margin-top: 15vw;

    background-color: var(--brown);
color:white;
font-size: 1.6vw;
font-family: 'Univers Next Pro', sans-serif;
padding: 1.3vw;
padding-left: 13vw;
padding-right: 13vw;

}

.description3 .extra{
    font-size: 1.6vw;
font-family: 'Univers Next Pro', sans-serif;
font-weight: lighter;
margin-left: 8vw;
margin-top: 1vw;

}


select {
    padding-left: 2vw;
    padding-right: 2vw;
    padding: 1vw;
    margin-left: 5vw;
    background-color:var(--brown);
    font-family: 'Univers Next Pro', sans-serif;    
    font-size: 1.5vw;
}

